body {
  background-color: whitesmoke;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px;
    gap: 50px;
}

.grid-item {
background-color: bisque;
border: solid 2px brown;
text-align: center;
border-radius: 25px;
}

.grid-item img {
  width: 80%;
}
.fancyish {
  color: darkblue ;
}
.classyish {
  color: blueviolet ;
}
.getthesaleish {
  color: green;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}